* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}
#page-title {/* signo numeral # se llama a un ID, el ID es mas importante que 
    que unca clase en temas de especifidad*/
    font-family: Arial, Helvetica, sans-serif;
}
.title {/*signo de punto . se llama a una clase*/
    font-size: 18px;
    font-family: monospace ;
}
#main-nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    display: inline-block; /*inline-block - bloque en linea*/
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog {
    background-color: red;
}
 
/*Especifidad: Important, estilos embebidos, id´s, clases, etiquetas*/
/*Especifidad: 0, 0, 0, 0, 0*/